<div class="container">

	<header>
									   <!-- player info -->
		<div class="userInfo">
			<h2><%= user.name %></h2>
			<h4 id="credits">credits: <%= stat.credits %></h4>
		</div>
		                               <!-- shop button -->
		<button type="button" id="shop" class="btn btn-primary" data-toggle="modal" data-target="#shop-modal">Shop</button>
		                             <!-- starship dropdown -->
		  <div class="dropdown">
			    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Starships
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
			    	<!-- before listing all of the ships i need to seperate them by comma like so: starships.split(",") -->

			    	<% starshipsArray = stat.starships.split(","); %>

			    	<% starshipsArray.forEach(function(starship){ %>
			    		<li><button type="button" id="<%= starship.replace(' ', '_'); %>" class="btn btn-info" data-toggle="modal" data-target="#starshipInfo"><%= starship %></button></li>
			    	<% }); %>
			    </ul>
		  </div>


		
	</header>
											<!-- SHOP MODAL -->
<div id="shop-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 id="starShipTitle" class="modal-title">Galactic Marketplace</h3>
        <h4>Browse the most recent selection of starships</h4>
        <h4 class="yourCredits">Your credits: <%= stat.credits %></h4>
        <p style="color:red" class="alert"></p>
      </div>
      <div class="modal-body">
      		<h3 style="display:inline" class="falconTitle"></h3><button style="margin-left:3%" class="buyFalcon btn">Buy</button>
      		<p class="falconCost"></p>
      		<p class="falconLength"></p>
      		<p class="falconSpeed"></p>
      		<p class="falconConsumables"></p>

      		<h3 style="display:inline" class="xwingTitle"></h3><button style="margin-left:3%" class="buyxwing btn">Buy</button>
      		<p class="xwingCost"></p>
      		<p class="xwingLength"></p>
      		<p class="xwingSpeed"></p>
      		<p class="xwingConsumables"></p>
      		<h3 style="display:inline" class="dstarTitle"></h3><button style="margin-left:3%" class="buydstar btn">Buy</button>
      		<p class="dstarCost"></p>
      		<p class="dstarLength"></p>
      		<p class="dstarSpeed"></p>
      		<p class="dstarConsumables"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


	                                        <!-- STARSHIP MODAL -->

	<div id="starshipInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 style="text-align:center" class="shipTitle modal-title"></h2>
      </div>
      <div class="modal-body">
        <p id="costInCredits"></p>
        <p id="length"></p>
        <p id="speed"></p>
        <p id="starShipConsumables"></p>
        <img id="starshipPic"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>