<script src="/js/home.js"></script>

<%- include partials/header.ejs %>





                                      <!-- PLANETS -->

<% var columnClasses = ["col-xs-3 col-xs-offset-7","col-xs-4 col-xs-offset-5","col-xs-3 col-xs-offset-2","col-xs-2 col-xs-offset-4"]; %>

<% var planetSources = ["/images/kashyyyk.png","/images/hoth.png","/images/endor.png","/images/tatooine.png"]; %>

<% var unfinishedPlanetsArray = stat.unfinishedplanets.split(","); %>

<% for (var i = 0; i < unfinishedPlanetsArray.length; i++) { %>
	<div class="row row<%= i %>">
		<div class="<%= columnClasses[i % 4] %> planet planet<%= i %>">
			<img class="planet_pic <%= unfinishedPlanetsArray[i] %>" src="<%= planetSources[i] %>">
			<h4 style="color:white"><%= unfinishedPlanetsArray[i] %></h4>
		</div>
	</div>
<% } %>

<script src="/js/starships.js"></script>

<script src="/js/shop.js"></script>


